Calendar/xsd_templates/eventAdapterXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eventAdapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="attenders">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="attender" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:dateTime" name="endDate"/>
        <xs:element type="xs:string" name="eventId"/>
        <xs:element type="xs:dateTime" name="startDate"/>
        <xs:element type="xs:string" name="event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>